body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  padding-bottom: 50px; 
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

button {
  padding: 10px 15px;
  background-color: #403f3f;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000; 
}

/* Responsive styles */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 5px 0;
  }

  table, th, td {
    display: block;
    width: 100%;
  }

  th, td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  th::before, td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }

  th, td {
    padding: 10px 5px;
  }
}
